<!DOCTYPE html>
<html>
  <head>
    <title>TheEscRooms.Com</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" htype="text/css" href='../static/CS4800.css' />
    <link rel="stylesheet"  href='../static/style.css' />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
    <script src='../static/index.js'></script>
  </head>

  <body class="flex-column">
    <main class="cs4800 main">
      <div class="item">
        <section class="section1__section1">
          <div class="section1__flexCol">
            <div class="section1__flexCol1">
              <div class="section1__flexRow">
                <h1 class="section1__hero_title">TheEscRooms.com</h1>
                <div class="spacer"></div>
                <div  class="section1__wrapper6"></div>
                <div class="spacer1"></div>
				
                <div class="section1__wrapper"></div>
              </div>
              <div class="section1__content_box">
				      <form id="location-form">
					    <label for="location"></label>
					    <input type="text" id="location" name="location">
					    <input type="submit" value="Search">
				      </form>
                <div class="section1__wrapper5">
                </div>
              </div>
              <div id="map"></div>
            </div>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="section2__section2">
          <div class="section2__flexCol">
            <script
      			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT_a0hRM9mZrOyvgZEfddibNAUTyoJDoo&callback=initMap&libraries=places&v=weekly"
      			defer
    		></script>
            </div>
          </div>
        </section>
      
      <div>
        <div class="carousel">
          <div class="item slide-in" id="item1"><h1>Item 1</h1></div>
          <div class="item slide-in" id="item2"><h1>Item 2</h1></div>
          <div class="item slide-in" id="item3"><h1>Item 3</h1></div>
          <div class="item slide-in" id="item4"><h1>Item 4</h1></div>
          <div class="controls">
            <a href="#item1" class="btn"></a>
            <a href="#item2" class="btn"></a>
            <a href="#item3" class="btn"></a>
            <a href="#item4" class="btn"></a>
          </div>
        </div>
      </div>
      <div class="item">
    
        <section class="section3__section3">
          <div class="section3__flexCol">
            <div class="section3__flexRow">
              <h1 class="section3__hero_title1">Genre: Horror</h1>
              <div class="spacer"></div>
              <div class="section3__wrapper4"></div>
            </div>
            <div class="section3__flexRow1">
              <div class="section3__wrapper3"></div>
              <div class="spacer"></div>
              <div class="section3__flexRow2">
                <div class="item">
                  <div class="section3__content_box9">
                    <div class="section3__content_box1">
                      <div class="section3__wrapper1"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="spacer"></div>
                <div class="item">
                  <div class="section3__content_box9">
                    <div class="section3__content_box11">
                      <div class="section3__wrapper11"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="spacer1"></div>
                <div class="item">
                  <div class="section3__content_box9">
                    <div class="section3__content_box1">
                      <div class="section3__wrapper12"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="spacer"></div>
                <div class="item">
                  <div class="section3__content_box9">
                    <div class="section3__content_box11">
                      <div
                        class="section3__wrapper12"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="spacer1"></div>
              <div  class="section3__wrapper2"></div>
            </div>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="section4__section4"><div class="section4__rect4"></div></section>
      </div>
    </main>
  </body>
</html>
